<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GameBoard</title>
  <link rel="stylesheet" href="lib/allmighty-autocomplete/style/autocomplete.css">
  <link rel="stylesheet" href="lib/fullcalendar/dist/fullcalendar.css"/>
  <link rel="stylesheet" href="lib/Materialize/dist/css/materialize.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="styles/main.css"/>
</head>
<body ng-app="imgame">
  <header>
    <nav class = "z-depth-0 ng-cloak" ng-if="loggedIn">
      <div ng-controller="NotificationsController" class="nav-wrapper">
        
        <ul id="nav-mobile" class="left">
          <li><a href="/#/" class="brand-logo center white-text"><b>game</b>board</a></li>
          <li>
            <a class="dropdown-button"  href='javascript:void(0);' data-activates="main-navigation" data-constrainwidth="false" data-beloworigin="true" dropdown data-hover="true">
              <i class="material-icons right white-text">menu</i>
            </a>
          </li>
        </ul>

        <ul id="main-navigation" class="dropdown-content">
          <li ng-if="loggedIn"><a href="/#/create-game">Host</a></li>
          <li ng-if="loggedIn"class="divider"></li>
          <li ng-if="!loggedIn"><a href="/#/">Signin</a></li>
          <li><a href="/#/browse-games">Browse</a></li>
          <li class="divider"></li>
          <li ng-if="loggedIn"><a href="/#/my-games">My Games</a></li>
          <li class="divider"></li>
          <li ng-if="loggedIn"><a href="/#/profile">Profile</a></li>
          <li class="divider"></li>
          <li><a href="/#/faq">FAQs</a></li>
        </ul>

        <ul class="right">
          <li ng-if="loggedIn"><a href="/#/profile"><img class="nav-profile-pic" ng-src="{{myInfo.picture}}"></a></li>
          <li ng-if="loggedIn">
            <a class="dropdown-button notification" href='javascript:void(0);' data-activates="notifications" data-beloworigin="true" dropdown data-hover="false" data-constrain-width="false">
              <div ng-if="newNotes !== 0" class="notification-number ng-cloak" id="notes-bubble">{{newNotes}}</div>
              <i class="material-icons tooltipped white-text" data-tooltip="Logout">add_alert</i>
            </a>
          </li>
          <li ng-if="loggedIn"><a href='/#/logout'><i class="material-icons tooltipped white-text" data-tooltip="Logout">exit_to_app</i></a></li>
        </ul>

        <ul id='notifications' class='dropdown-content'>
          <div ng-repeat="note in notifications | limitTo:15">
            <li ng-if="note.type==='game ended'" ng-mouseover="addToViewed(note)" class="{{note.viewed}}">
              Your game of {{note.game}} has ended. You may now submit user reviews.
              <br>
              <span class="noteTime">{{timeElapsed(note.created_at)}},  {{note.created_at | date:" MMM-d-y '@' h:mma"}}</span>
            </li>
            <li ng-if="note.type==='pending request'" ng-mouseover="addToViewed(note)" class="{{note.viewed}}"> 
              There is a request to join your game of {{note.game}}.
              <br>
              <span class="noteTime">{{timeElapsed(note.created_at)}},  {{note.created_at | date:" MMM-d-y '@' h:mma"}}</span>
            </li>
            <li ng-if="note.type==='game cancelled'" ng-mouseover="addToViewed(note)" class="{{note.viewed}}">
              A game of {{note.game}} that you have joined has been cancelled.
              <br>
              <span class="noteTime">{{timeElapsed(note.created_at)}},  {{note.created_at | date:" MMM-d-y '@' h:mma"}}</span>
            </li>
            <li ng-if="note.type==='request accepted'" ng-mouseover="addToViewed(note)" class="{{note.viewed}}">
              Your request to join {{note.game}} has been accepted.
              <br>
              <span class="noteTime">{{timeElapsed(note.created_at)}},  {{note.created_at | date:" MMM-d-y '@' h:mma"}}</span>
            </li>
            <li ng-if="note.type==='invite'" ng-mouseover="addToViewed(note)" class="{{note.viewed}}">
              You have been invited to play {{note.game}}.
              <br>
              <span class="noteTime">{{timeElapsed(note.created_at)}},  {{note.created_at | date:" MMM-d-y '@' h:mma"}}</span>
            </li>
            <li class="divider"></li>
          </div>
        </ul>

      </div>
    </nav>
  </header>
  <main>
    <div ng-view></div>
  </main>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5eGAZmqMYgOJRvbrFNAujmSr8nFCEBnA&libraries=places"></script>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-route/angular-route.min.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="lib/Materialize/dist/js/materialize.min.js"></script>
  <script src="lib/angular-materialize/src/angular-materialize.js"></script>
  <script src="lib/moment/min/moment.min.js"></script>
  <script src="lib/angular-ui-calendar/src/calendar.js"></script>
  <script src="lib/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="lib/fullcalendar/dist/gcal.js"></script>
  <script src="lib/allmighty-autocomplete/script/autocomplete.js"></script>
  <script src="lib/checklist-model/checklist-model.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/homeController.js"></script>
  <script src="app/controllers/createGameController.js"></script><!-- TODO: move dom manipulation out of controller so that load order doesn't matter-->
  <script src="app/directives/googleMapsDirective.js"></script>
  <script src="app/controllers/profileController.js"></script>
  <script src="app/controllers/myGamesController.js"></script>
  <script src="app/controllers/browseGamesController.js"></script>
  <script src="app/controllers/notificationsController.js"></script>
  <script src="app/services/serviceAuth.js"></script>
  <script src="app/services/helper.js"></script>
  <script src="app/services/serviceGame.js"></script>
  <script src="app/services/profileService.js"></script>
  <script src="app/services/serviceBrowseGames.js"></script>
  <script src="app/services/serviceNotification.js"></script>
  <script src="app/services/reviewService.js"></script>
  <script src="app/services/serviceUsers.js"></script>
  <script src="app/services/serviceInvitations.js"></script>
</body>
</html>
