<html lang="en">
<head>
	<meta charset="utf-8">
	<title>I'm Game</title>
 	 <link href="lib/Materialize/dist/css/materialize.min.css" rel="stylesheet">
 	   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	 <link rel="stylesheet" type="text/css" href="styles/main.css"/>
</head>
<body ng-app="imgame">
	<header>
	  <nav>
	    <div class="nav-wrapper indigo">
	      <a href="/#/" class="brand-logo center">I'm Game!</a>
	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li ng-if="loggedIn"><a href="/#/create-game">Host</a></li>
	        <li><a href="/#/browse-games">Browse</a></li>
	        <li ng-if="loggedIn"><a href="/#/my-games">My Games</a></li>
	        <li ng-if="loggedIn"><a href='/#/logout'>Logout</a></li>
	        <li ng-if="!loggedIn "><a href='/#/logout'>Log In</a></li>
	      </ul>
	    </div>
  	</nav>
	</header>
	<main>
		<div ng-view></div>
	</main>

	<!--<script src="https://maps.googleapis.com/maps/api/js"></script> -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5eGAZmqMYgOJRvbrFNAujmSr8nFCEBnA"></script>
	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="app/services/mapmarker.js"></script>
  <script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular-route/angular-route.min.js"></script>
	<script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="lib/Materialize/dist/js/materialize.min.js"></script>
	<script src="lib/angular-materialize/src/angular-materialize.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 
	<script src="app/app.js"></script>
	<script src="app/controllers/homeController.js"></script>
	<script src="app/controllers/createGameController.js"></script>
	<script src="app/controllers/myGamesController.js"></script>
	<script src="app/controllers/browseGameController.js"></script>
	<script src="app/services/serviceAuth.js"></script>
	<script src="app/services/serviceGame.js"></script>
	<script src="app/services/serviceBrowseGames.js"></script>
</body>
</html>