<li ng-repeat="gameToReview in recentGames track by $index | orderBy:'-game_datetime'" class="collection-item avatar" ng-if="!gameToReview.reviewed">
  <img class="circle" ng-src="{{ gameToReview.picture }}">
  <span class="title grey-text text-darkern-2">
    <strong>{{ gameToReview.game }}</strong> on {{ gameToReview.game_datetime | date : "M/d/yyyy @ h:mm a" }}
  </span>
  <p>
    You can now submit reviews for this game.
  </p>   
  <a href="#openRateModal" ng-click="openRateModal(gameToReview)" class="waves-effect waves-light secondary-content" modal>
  	<i class="material-icons">open_in_new</i>
  </a>
</li>