<li ng-repeat="game in myGames" class="collection-item avatar" ng-if="game.pending_requests > 0">
  <div>
    <span class="title grey-text text-darkern-2">
      {{ game.game | limitTo: 10 }} ... 
    </span>
    <span>
      {{ game.game_datetime | date : "M/d/yyyy @ h:mm a" }}
    </span>           
    <a href="#approve-pending" ng-click="getGamepostRequest(game)" class="waves-effect waves-light secondary-content" modal><i class="material-icons">open_in_new</i></a>
  </div>
  <div>
    <p>
      <strong>Time:</strong> {{ game.game_datetime | date : "EEE, MMM d, y @ h:mm a" }}<br>
      <strong>Location:</strong> {{ game.game_location }}<br>
      <strong>Players:</strong> {{game.accepted_players + "/" + game.player_count}}
      <br>
      <strong>Description:</strong> {{game.gamepost_description ? game.gamepost_description : "N/A"}}<br>
    </p>
  </div>
</li>