<li ng-repeat="invitation in myInvitations track by $index | orderBy:'game_datetime'" class="collection-item avatar">
  <img class="circle" src="{{invitation.host_pic}}">
  <span class="title grey-text text-darkern-2">
    <strong>{{ invitation.game }}</strong> on {{ invitation.game_datetime | date : "M/d/yyyy @ h:mm a" }}
  </span>
  <p>
    {{invitation.host_name}} has invited you to join their game.
  </p>
  <a href="#approve-invitation" ng-click="setInvitationToReview(invitation)" class="waves-effect waves-light secondary-content" modal>
    <i class="material-icons">open_in_new</i>
  </a>
</li>