<li ng-repeat="request in myRequests track by $index | orderBy:'game_datetime'" class="collection-item avatar" ng-if="request.status==='pending' || request.status==='denied' "> 
  <img class="circle" src="{{request.host_pic}}">
  <span class="title grey-text text-darkern-2">
      <strong>{{ request.game}}</strong> on {{ request.game_datetime | date : "M/d/yyyy @ h:mm a" }}.
  </span>
  <p>
    {{ request.host_name }} is reviewing your request.
  </p>
  <a href="#cancelRequestModal" ng-click="setRequestToCancel(request)" class="waves-effect waves-light secondary-content" modal>
    <i class="material-icons">cancel</i>
  </a>
  </p>
</li>