.browse {

  line-height: 1;
  overslow-x: hidden;
  overslow-y: hidden;

  .mapView {
    padding: 0px;
  }
  
  #gmap {
    height: 80%;
  }

  .browse-filters {
    height: 10%;
    border: none;
    margin: 0px;

    .nameAndDisFilter {
      padding: 0%;
      padding-left: 0px;
      margin-bottom: 0px;
    }

    .datetimeFilter {
      margin: 0px;
    }

    .title {
      width: auto;
      margin: 0px;
      padding: 0px;
      margin-left: 2%
    }
  }

  #listView {
    border-top: 10px solid #f5f5f5 !important;
    margin-top: 0px;
    height: 80%;
    overflow-y: scroll;
    padding-bottom: 2%;
    background-color: #f5f5f5;
    border: none;
    margin-bottom: 0px;
  }

  img.hostPic {
    width: 7%;
    height: auto;
  }

  #game_title {
    font-size: 18px;
    font-weight: bold;
    color: gray;
  }

  .game_list{
    margin-bottom: 0px;
  }
 
  #listView .btn {
    float: right;
    margin-top: 0px;
    height: 28px;
    line-height: 28px;
    width: 100%;
    padding: 0px;
    font-weight: normal;
    box-shadow: none;
    background-color: white;
    border-radius: 4px;
  }

  #join_browse {
    color: $green;
    border: 1px solid $green;  
  }

  #join_browse:hover {
    background-color: $green;
    color: white;
  }

  #view_browse {
    color: $yellow;
    border: 1px solid $yellow; 
  }

  #view_browse:hover {
    background-color: $yellow;
    color: white;
  }

 .close {
    margin: 1.25% 1.75% 0 0;
    cursor: pointer;
    color: white;
  }

  .error {
    position: center;
    padding-top: 2%;
  }

  @media only screen and (min-width: 601px) {
    nav {
      height: 10%;
    }
  }

  textarea {
    border-color: grey;
    border: dotted 1px;
    border-radius: 2px;
    resize: none;
  }

  autocomplete.col {
    padding: 0px;
    border: none;
    margin: 1% !important;
    width: 100% !important;
  }

  input[type=date], input[type=time], input[type=text], select {
    font-size: 12px;
    height: 2rem;
    width: 100% !important;
    color: gray;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 0px;
    margin-left: 1% !important;
  }

  .autocomplete ul{
    height: 50%;
    border: none;
    z-index: 10;
  }

  li.collection-item {
    padding-left: 0px;
    padding-right: 0px;
  }

  .filteTime {
    font-size: 10px;
  }

  .players {
    font-size: 16px;
  }

}