.browse {

  overslow-x: hidden;
  overslow-y: hidden;

  .mapView {
    padding: 0px;
  }
  
  #gmap {
    height: 90%;
  }

  .filterAndGames {
    overflow-y: scroll;
    height: 90%;
    width: 100%;
  }

  .browse-filters {

    border: none;
    margin: 0px;

    .datetimeFilter {
      padding: 0px;
    }

    .title {
      text-align: center;
    }
  }

  img.hostPic {
    width: 7%;
    height: auto;
  }

	#game_title {
		font-size: 20px;
    font-weight: bold;
    color: gray;
	}

  .game_list{
    margin-bottom: 0px;
  }
	
	.modal-header {
  		text-align: center;
  		padding: 1%;
  }

  .modal-footer {
      background-color: #eee;
   }

   .btn {
    margin-top: 0px;
    height: 30px;
    line-height: 25px;
    width: 100%;
    padding: 0px;
  }

  #listView .btn {
    float: right;
    margin-top: 0px;
    height: 25px;
    line-height: 25px;
    width: 80%;
    padding: 0px;
    font-weight: normal;
  }

 .close {
  	margin: 1.25% 1.75% 0 0;
  	cursor: pointer;
    color: white;
  }

  .error {
  	position: center;
  	padding-top: 2%;
  }

  @media only screen and (min-width: 601px) {
  	nav {
  		height: 10%;
  	}
  }

  textarea {
    border-color: grey;
    border: dotted 1px;
    border-radius: 2px;
    resize: none;
  }

  input[type=date], input[type=time], .autocomplete{
    font-size: 12px;
    color: gray;
    border: 1px dotted lightgray;
    border-radius: 5px;
    margin-bottom: 0px;
  }

  input[type=text] {
    border: none;
    margin: 0px;
  }



  .autocomplete ul{
    height: 50px;
    border: none;
    z-index: 10;
  }

}