
.createGame {

  margin-left: 2%;
  margin-right: 2%;

  
	div.half-div {
		margin: 5 auto;
    text-align: center;
	}

  input {
    color: #616161;
  }

  #map {    
    height: 500px;
  }

  .help-block {
    color: red;
  }

  .create-form {
    margin-left: 20px;
  }

  label.active {
    font-size: 15px;
  }

}
