
.createGame {

  margin-left: 5%;
  margin-right: 5%;

  
	div.half-div {
		margin: 5 auto;
    text-align: center;
	}

  input {
    color: #616161;
  }

  #gmap {    
    height: 500px;
  }

  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 60%;
    margin-left: 0;
    display: none;
  }

  .help-block {
    color: red;
  }

  .create-form {
    margin-left: 20px;
  }

  label.active {
    font-size: 15px;
  }

  [ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
  }

}
