
.createGame {
	div.half-div {
		margin: 10 auto;
    text-align: center;
    color: gray;
	}

  input {
    color: #616161;
  }

  #map {    
    height: 500px;
  }

  .help-block {
    color: red;
  }

  .create-form {
    margin-left: 30px;
  }

  label.active {
    font-size: 15px;
  }

  div.row {
    padding-top: 0;
  }
}
