.home {  

  .icns {
    font-size: 100px;
    color: white;
  }

  .parallax {
    z-index: 1;
  }

  .parallax-container {
  	height: 800px;
  	overflow: inherit;
  }

  #title {
    position: relative;
    z-index: 10;
    margin-top: -2%;
    font-size: 100px;
    text-shadow: -2px 0 #353535;
    margin-top: 5%;
    margin-right: 2%;
    color: $cream;
  }

  #contact {
    padding: 2% 0 2% 0;
    background-color: $cream;
  }

  .section {
    position: relative;
    z-index: 3;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .btn-large {
  	color: white;
  	box-shadow: none;
    border-radius: 6px;
    position: relative;
    z-index: 2;
    background-color: $red;
  }

  #fb_button {
  	margin-right: 2%;
  }

  #browse_button {
    margin-right: 2%;
  }

}