.home {  

  .icns {
    font-size: 100px;
    color: white;
  }

  .parallax {
    z-index: 1;
  }

  .parallax-container {
  	height: 800px;
  	overflow: inherit;
  }

  #title {
    position: relative;
    z-index: 5;
    font-size: 110px;
    text-shadow: -2px 0 #353535;
    margin-right: 2%;
    color: $cream;
  }

  #slogan {
    position: relative;
    z-index: 5;
    font-size: 25px;
    margin-right: 3%;
    margin-top: -2%;
    letter-spacing: 2px;
      p {
        color: $cream;
      }
  }

  #contact {
    padding: 2% 0 2% 0;
    background-color: $cream;
  }

  .section {
    position: relative;
    z-index: 3;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .btn-large {
  	box-shadow: none;
    border-radius: 6px;
    margin-right: 3%;
    position: relative;
    z-index: 2;
    color: white;
    background-color: $red;
    height: 46px;
    line-height: 48px;
  }

  .btn-large:hover {
    background-color: $blue;
  }

}