.modal {
    border-radius: 5px;
    background-color: white;
  	.modal-header {
      h4 {
  		  text-align: center;
        font-size: 1.5em;
        padding: 1.5%;
        background-color: $blue;
      }
      .right {
        margin-right: 25px;
        margin-top: 10px;
      }
  	}


    .modal-content {
      padding-top: 0.5%;
      margin: 0;
      width: 100%;
      ul.collection {
        width: 100%;
      }
    }
    .btn, .btn-flat {
      text-align: center;
    }

    .accept {
      background-color: white;
      color: $green;
      border: 1px solid $green;
      margin: 0 auto;
    }
    .accept:hover {
      color: white;
      background-color: $green;
    }
    .decline {
      background-color: white;
      color: $red;
      border: 1px solid $red;
      margin: 0 auto;
    }
    .decline:hover {
      color: white;
      background-color: $red;
    }

    .game-details {
      margin-bottom: 2%;
    }

    .content-header {
      padding-bottom: 2%;
      border-bottom: 1px solid #e0e0e0;
    }

    img.hostPic {
      width: 7%;
      height: auto;
    }
    .modal-footer {
      background-color: white;
    }

  }

#openRequest {


    .modal-header {
      background-color: $yellow;
    }

    .modal-content {
      padding: 2%;
      margin-bottom: 0px;

      div.col {
        padding: 0px;
      }


      div.input-field {
        margin: 0px;
        padding: 0px 3%;
        padding-top: 2%;
      }

      .sentFallback {
        font-size: 18px;
        color: $yellow;
        font-weight: bold;
      }

      a img{
        width: 10%;
      }

      div {
        padding: 1%;
        padding-left: 5%;
        padding-right: 5%;
      }

      span {
        font-weight: bold;
      }
    }

    h4 {
      margin: 0px;
    }

    i {
      margin: 0px;
    }

    .btn {
      background-color: $blue;
    }

  }