.modal {
  border-radius: 5px;
  background-color: white;
  .modal-header {
    h4 {
  		text-align: center;
      font-size: 1.5em;
      padding: 1.5%;
      background-color: $blue;
    }
    .right {
      margin-right: 25px;
      margin-top: 10px;
    }
  }

  .modal-content {
    padding-top: 0.5%;
    margin: 0;
    width: 100%;
    ul.collection {
      width: 100%;
    }
  }
  .btn, .btn-flat {
    text-align: center;
  }
  .accept {
    background-color: white;
    color: $green;
    border: 1px solid $green;
    margin: 0 auto;
  }
  .accept:hover {
    color: white;
    background-color: $green;
  }
  .decline {
    background-color: white;
    color: $red;
    border: 1px solid $red;
    margin: 0 auto;
  }
  .decline:hover {
    color: white;
    background-color: $red;
  }

  .game-details {
    margin-bottom: 2%;
  }

  .content-header {
    padding-bottom: 2%;
    border-bottom: 1px solid #e0e0e0;
  }
  img.hostPic {
    width: 7%;
    height: auto;
  }
  .modal-footer {
    background-color: white;
    height: 30%;
    div {
      display: inline-block;
    }
    .message {
      height: 90%;
      width: 75%;
      margin-top: 0;
      line-height: 1.5;
      textarea {
        border: solid $yellow 1px;
        border-radius: 2px;
        resize: none;
        height: 50px;
      }
    }
    .join-button {
      width: 20%;
      height: 90%;
      margin-left: 2%;
      line-height: 1.5;
      .accept {
        height: 50px;
        width: 100%;
        margin: 0;
      }
      .material-icons {
        line-height: 2.5;
      }
    }
  }
}

#openRequest, #game-details {
  .player-item {
    display: inline-block;
    width: 25%;
  }
  .img-wrapper {
    width: 100%;
    margin-bottom: 3%;
  }
  img {
    width: 80px;
  }
  h5 {
    font-size: 1.5em;
  }
}

#openRateModal {
  .players {
    width: 20%;
  }
  .img-wrapper {
    width: 100%;
    margin-bottom: 3%;
  }
  img {
    width: 80px;
  }
  .lever {
    width: 70px;
    margin-left: 0;
    margin-bottom: 10%;
    background-color: $yellow;
  }
  .switch label input[type="checkbox"]:checked+.lever {
    background-color: $green;
  }
  .switch label input[type="checkbox"]:checked+.lever:after {
    background-color: white;
  }
}
