.myGames {
  #calendar {
    h2 {
      font-size: 1.5em;
    }
    thead {
      border-bottom: none;
    }
  }

  .fallback-view {
    padding: 5% 20%;
    p {
      font-size: 1.5em;
      text-align: justify;
    }
  }

  #gmap {
    height: 75%;
    margin-bottom: 1%;
  }

  .mailbox-button a {
    top: -30px;
    right: -200px;
  }

  .normal-view {
    padding: 1%;
  }

 .close {
    margin: 1.25% 1.75% 0 0;
    cursor: pointer;
    color: white;
  }


  #agenda {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 5%;
    float: right;
  }

  #agendaList, #calendar {
    padding-right: 5%;
    padding-left: 0%;
  }

  .agenda.collection {

    .collection-item {
      min-height: 15%;
      padding: 0%;
    }

    a {
      margin-top: 5%;
    }

    .title {
      min-height: 5%;
      text-align: center;
    }
  }

  .agendaListGameName {
    cursor: pointer;
  }

  .modal {
  	.modal-header {
  		text-align: center;
  		padding: 1%;
  	}

    .content-header {
      margin: 0;
    }
    .sub-list div {
      display: inline-block
    }
    .content-lead {
      width: 40%;
    }

    img.hostPic {
      width: 7%;
      height: auto;
    }

  	.modal-footer {
  		background-color: #eee;
  	}
  }

  .collection {
    .collection-item {
      .nav-profile-pic {
        height: 40px;
      }
    }
    .collection-item:last-child {
      border-bottom: 1px solid #e0e0e0;
    }
  }

  [ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
  }
}