.myGames {
  .fallback-view {
    padding: 5% 20%;
    p {
      font-size: 1.5em;
      text-align: justify;
    }
  }

  .normal-view {
    padding: 5% 2%;
  }

 .close {
    margin: 1.25% 1.75% 0 0;
    cursor: pointer;
    color: white;
  }

	.collapsible-header {
    .secondary-content {
      width: 30px;
    }
    .material-icons {
		  color: #666;
    }
    p {
      line-height: 2rem;
      padding-left: 10%;
      margin: 2% 0;
    }
	}
	.collection-header {
		padding: 2%;
    text-align: center;
	}

  #agenda {
    margin: 1%;
    float: right;
  }

  .modal {
  	.modal-header {
  		text-align: center;
  		padding: 1%;
  	}

    .content-header {
      margin: 0;
    }
    .sub-list div {
      display: inline-block
    }
    .content-lead {
      width: 40%;
    }

  	.modal-footer {
  		background-color: #eee;
  	}
  }

  [ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
  }
}