.profile {
	padding: 10%;
  padding-top: 5%;

	.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  .collection.profile-field {
    border: none;
    margin-top: 1%;
    margin-bottom: 5%;

  }

  .reviewCounts {
    font-size: 10px;
  }

  .staticProfile {
    margin-top: 5%
  }

  th, td {
    text-align: center;
  }

  .players {
    text-align: left;
  }

  td.write {
    display: none;
  }

    img.hostPic {
    width: 7%;
    height: auto;
  }

  #game_title {
    font-size: 20px;
    font-weight: bold;
    color: gray;
  }

  .game_list {
    margin-bottom: 0px;
  }

  .profile-field div {
    min-height: 3rem;
  }

  .recent_game_list li.collection-header {
    background-color: darkgray;
    color: white;
    padding: 1%;
    text-align: center;
  }
  
  .modal-header {
      text-align: center;
      padding: 1%;
  }

  .reviewResults {
    text-align: center;
  }

  .modal-footer {
      background-color: #eee;
   }

  .btn {
    margin-top: 0px;
    height: 25px;
    line-height: 25px;
    width: 80%;
    padding: 0px;
  }

 .close {
    margin: 1.25% 1.75% 0 0;
    cursor: pointer;
    color: white;
  }

  a.fbIcon {
    margin-left: 2%;
    width: auto;
    height: auto;

    img {
      align: middle;
      height: 8%;
    }
  }

  .edit {
    font-size: 14px;
  }

  .profileHostPic {
    width: 60%;
  }

  #openRateModal {

    .modal-header {
      padding: 0px;
    }

    .modal-content {
      padding: 2%;
      margin-bottom: 0px;

      div.col {
        padding: 0px;
      }


      div.input-field {
        margin: 0px;
        padding: 0px 3%;
        padding-top: 2%;
      }

      .sentFallback {
        font-size: 18px;
        color: $yellow;
        font-weight: bold;
      }

      a img{
        width: 10%;
      }

      div {
        padding: 1%;
        padding-left: 5%;
        padding-right: 5%;
      }

      span {
        font-weight: bold;
      }
    }

    h4 {
      margin: 0px;
    }

    i {
      margin: 0px;
      margin-right: 1%;
      margin-top: 1%;
    }

    .btn {
      background-color: $blue;
    }
  }

}