.profile {
	padding: 10%;
  padding-top: 5%;

	.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  .collection.profile-field {
    border: none;
    margin-top: 10%;

  }

  .reviewCounts {
    font-size: 10px;
  }

  .staticProfile {
    margin-top: 5%
  }

  th, td {
    text-align: center;
  }

  .players {
    text-align: left;
  }

  td.write {
    display: none;
  }

    img.hostPic {
    width: 7%;
    height: auto;
  }

  #game_title {
    font-size: 20px;
    font-weight: bold;
    color: gray;
  }

  .game_list{
    margin-bottom: 0px;
  }

  li.collection-header {
    padding: 1%;
    text-align: center;
  }
  
  .modal-header {
      text-align: center;
      padding: 1%;
  }

  .reviewResults {
    text-align: center;
  }

  .modal-footer {
      background-color: #eee;
   }

  .btn {
    margin-top: 0px;
    height: 25px;
    line-height: 25px;
    width: 80%;
    padding: 0px;
  }

 .close {
    margin: 1.25% 1.75% 0 0;
    cursor: pointer;
    color: white;
  }

  a.fbIcon img {
    width: 8%;
  }

}