$blue: #28ABE3;
$red: #DB3340;
$green: #1FDA9A;
$yellow: #E8B71A;
$cream: #F7EAC8;
$orange: #FFA000;
$gray: #F5F5F5;
$lgreen: #C7DBC2;

@import 'modal';
@import 'createGame';
@import 'myGames';
@import 'login';
@import 'browseGames';
@import 'profile';
@import 'home';

nav {
	background-color: $blue;
}

.nav-profile-pic {
  margin-top: 30%;
  width: auto;
  height: 60%;
  border-radius: 50%;
}

.notification {
  position: relative; 
}

#notifications {
  
  padding: 1%;
  height: 300px;

  span.noteTime{
    font-size: 10px;
    padding: 0px;
    color: gray;
  }

  .true {
    background-color: $cream;  
  }  
}

.notification-number {
  background-color: $red;
  color: white;
  border-radius: 100%;
  height: 30%;
  width: 34%;
  padding-top: 20%;
  line-height: 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  padding-top: 5px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}