<section class="mailbox row">
  <div class="col s 12">
    <ul class="tabs" tabs>
      <li class="tab col m2"><a href="#inbox" class="active">Inbox</a></li>
      <li class="tab col m2"><a href="#outbox">Outbox</a></li>
    </ul>
  </div>
  <div class ="row">
    <div class="col s12" id="inbox">
      <ul class="collection" watch>
        <!-- list of games you are hosting with requests to join game -->
        <div class="ng-include: 'app/templates/partials/mailbox/gamepostRequestsList.html'">
        </div>

        <!-- list of games to review -->
        <div class="ng-include: 'app/templates/partials/mailbox/gamesToReviewList.html'">
        </div>

        <!-- list of invitations to join games hosted by other people -->
        <div class="ng-include: 'app/templates/partials/mailbox/invitationsList.html'">
        </div>
      </ul>
    </div>
    <div class="col s12" id="outbox">
      <ul class="collection" watch>
        <!-- list of pending requests to join other peoples games -->
        <div class="ng-include: 'app/templates/partials/mailbox/pendingRequestsList.html'">
        </div>
      </ul>
    </div>
  </div>
</section>