<div class="browse">
 <h3>Browse All Games</h3>
    <div class="browse_search">
      <form>
         <div class="input-field">
          <textarea id="search_games" row="1" class="materialize-textarea" ng-model="searchText"required placeholder="  search.."></textarea>
        </div>
      </form>
    </div>
    
    <ul class="collection" watch>
      <li ng-repeat="game in games | filter:searchText" class="collection-item">
        <div class="collapsible-item"><i class="material-icons right">speaker_notes</i><i class="material-icons right">event</i><h5><b>{{game.game}}</b></h5>
        {{game.game_datetime | date:"EEEE, MMM d, y ',' h:mma"}}
         @ {{game.game_location}}
         <div class="col" ng-if="loggedIn">
            <a class='btn' href='#openRequest' modal>View Details</a>
        </div>
<!-- Modal Structure -->
<div id="openRequest" class="modal">
    <div class="modal-content">
        <h4>{{game.game}}</h4>
        <p>{{game.gamepost_description}}</p>
        <div class = "container"> 
            <div class = "row center">
              <div class="input-field">
                <textarea class ="col s9 offset-s1 materialize-textarea" ng-model="requestMessage.comments" placeholder="Contact Host"></textarea>
              </div>
              <div class = "col s2" ng-click="sendRequest(game)">
                <div class = "btn-floating btn-med waves-effect waves-light cyan">
                  <i class="material-icons">email</i>
                </div>
              </div>
              <br>
              <div ng-if="submitError" class="error col 12 red-text">{{submitError}}</div>
            </div>
          </div>
        </div>
    </div>
</div>
        </div>


      </li>
    </ul>
  </div>