<div class="browse">
  <div class="row">
    <div class="col m4">

      <nav>
        <div class="nav-wrapper transparent browse-filters-header">
          <h5 class="pink-text text-darken-2">Filters</h5>
        </div>
      </nav>

      <div class="browse-filters">
        <!-- Game select drop down filter -->
        <div>
          <p class="title indigo-text text-darken-2">Game Name</p>
          <select class="browser-default" ng-model="searchText" material-select watch>
              <option ng-repeat="value in gamesFilter.choices | orderBy: value">{{value}}</option>
          </select>
        </div>

        <!-- Games Date Range  -->
        <div class="row">
          <p class="title indigo-text text-darken-2 col s6">Start Date</p>
          <p class="title indigo-text text-darken-2 col s6">End Date</p>
          <input class="col s6 datepicker" type="date" ng-model="startDateFilter"/>
          <input class="col s6" type="date" ng-model="endDateFilter"/>
        </div>

      </div>
    </div>

    <div class="col m8" id="outer">
      <nav>
        <div class="nav-wrapper transparent">
          <div class="input-field">
            <input id="search" type="search" ng-model="selectText" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </div>
      </nav>
      <!-- display all the games -->
      <ul class="collection" watch>
        <li ng-repeat="game in games | filter:searchText | filter:selectText | orderBy:'game_datetime'" ng-if="dateFilter(game.game_datetime)" class="collection-item">
          <div class='row'>
            <div class="left">
              <span style="display:inline"><h5 class ="pink-text text-darken-2" id="game_title">{{game.game}}</h5></span>
              {{game.game_datetime | date:"EEE, MMM d, y ',' h:mma"}}
              <div>@ {{game.game_location}}</div>
              <div class ="indigo-text text-darken-2">Players: {{ game.accepted_players }}/{{game.player_count}}
              </div>
            </div>
            <div class="right" ng-if="loggedIn" ng-click="openGame(game)">
              <a class='btn teal' href='#openRequest' modal>Join</a>
            </div>
          </div>        
        </li>
      </ul> 

      <!-- detail Modal for each game -->
      <div id="openRequest" class="modal">
        <div class ="modal-header">
          <div ng-click="close()"><i class="material-icons right close">close</i></div>
          <span class= "white-text"><h4>{{game.game}}</h4></span>
        </div>
        <div class="modal-content">
          <div>
            <span>Host:</span> {{game.username}}
          </div>
            <span>Details:  </span>{{game.gamepost_description}}
          </div>
          <div>
            <span>Current players:</span> {{game.accepted_players}}/{{game.player_count}}
          </div>
          <div class = "row center">
            <div class="input-field">
              <textarea class ="col s12" ng-model="requestMessage.comments" placeholder="Enter optional message for host"></textarea>
            </div>
            <br>
            <div ng-if="submitError" class="error col s12 red-text">{{submitError}}</div>
          </div>
        </div>
        <div class="modal-footer">
          <div class = "col s6 right" ng-click="sendRequest(game)">
                  <a class = "btn btn-med waves-effect waves-light teal">
                    <i class="material-icons">send</i>
                  </a>
          </div>
        </div>
      <!-- modal complete -->
    </div>
  </div><!-- #outer -->
  </div>
</div><!-- .browse -->
