<div class="browse">
  <div class="row">
    <div class="mapView col m5">
      <!-- map view -->
      <div google-maps  class="mapView col m12 s12">
        <div id="gmap"></div>
      </div>
    </div>

    <div class="filterAndGames col m7">
      <!-- filter -->
      <div class="browse-filters col m12 row">
        <div class="nameAndDisFilter col m12 row">
          <!-- Game select autocomplete filter -->
          <p class="title grey-text text-darken-2 col m3">Game</p>
          <autocomplete class="col m3" attr-input-class="center" attr-input-id="game-name" attr-placeholder="" click-activation="true" data="gamesArray" ng-model="searchText"></autocomplete>
        
          <!-- Distance filter -->        
          <p class="title grey-text text-darken-2 col m3">Distance</p>
          <select class="browser-default col m3" ng-model="distance" material-select watch>
            <option ng-repeat="(key, value) in distance_choices">{{key}}</option>
          </select>
        </div>
        <!-- Games Date and Time Range  -->
        <div class="col m12 datetimeFilter row">
          <!-- Games Date Range  -->
          <div class="col m6">
            <p class="title grey-text text-darken-2 col s6">Start Date</p>
            <p class="title grey-text text-darken-2 col s6">End Date</p>
            <input class="col s6 datepicker" type="date" ng-model="startDateFilter"/>
            <input class="col s6" type="date" ng-model="endDateFilter"/>
          </div>
          <!-- time filter -->
          <div class="col m6">
            <p class="title grey-text text-darken-2 col s6">Start Time</p>
            <p class="title grey-text text-darken-2 col s6">End Time</p>
            <input id='startTime'class="col s6 datepicker" type="time" ng-model="startTimeFilter"/>
            <input id='endTime' class="col s6" type="time" ng-model="endTimeFilter"/>
          </div>
        </div>
      </div>
      <!-- filter complete -->
      
      <!-- search filter disabled
      <nav ng-hide="mapActivated">
        <div class="nav-wrapper transparent">
          <div class="input-field">
            <input id="search" type="search" ng-model="selectText" requigrey>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </div>
      </nav> -->

      <!-- display all the games -->
      <ul class="collection col m12" id="listView" ng-if="newGames.length>0" watch>
        <li ng-repeat="game in newGames | orderBy:'game_datetime' | filter: searchText" class="collection-item " watch>
          <div class='row game_list'>
            <div class="left col s4" id="game_title" style="display:inline">{{game.game ? game.game : " "}}</div>
            <div class="col s5"> <span ng-if="game.distance">{{+ game.distance + " m | "}}</span> {{game.game_datetime | date:"EEE, MMM-d-y '@' h:mma"}}, Players: {{ game.accepted_players }}/{{game.player_count}}
            </div>
            <div class="right col s3" ng-if="loggedIn" ng-click="openGame(game); getMyRequests()">
              <a class='btn grey darken-3' ng-if="!requestSent(game.id)" href='#openRequest' modal>Join</a>
              <a class='btn grey darken-3' ng-if="requestSent(game.id)" ng-click= "getRequestInfo(game.id)" href='#openRequest' modal>View Details</a>
            </div>
          </div>        
        </li>
      </ul> 
<!--       <center>
        <pagination
          page="currentPage"
          page-size="pageSize"
          total= "newGames.length"
          show-prev-next="true"
          dots="...."
          hide-if-empty="false"
          adjacent="2"
          scroll-top="false"
          pagination-action="displayPage(page)" />
      </center> -->
    </div>      

    <div class="ng-include: 'app/templates/modals/requestJoinGameModal.html'">
    </div>
  </div>
</div><!-- .browse -->
