<div class="browse">
  <div class="row">

      <!-- filter -->
      <div class="browse-filters col m12 row valign-wrapper">
        <div class="nameAndDisFilter col m4 row valign-wrapper">
          <!-- Game select autocomplete filter -->
          <p class="title grey-text text-darken-2 col m3 left-align valign">Game</p>
          <autocomplete class="col m3 valign" attr-input-class="center" attr-input-id="game-name" attr-placeholder="" click-activation="true" data="gamesArray" ng-model="searchText">
          </autocomplete>
        
          <!-- Distance filter -->        
          <p class="title col m3 left-align">Distance</p>
          <select class="browser-default col m3" ng-model="distance" material-select watch>
            <option ng-repeat="(key, value) in distance_choices">{{key}}</option>
          </select>
        </div>
        <!-- Games Date and Time Range  -->
        <div class="col m8 datetimeFilter row valign-wrapper">
          <!-- Games Date Range  -->
          <div class="col m6 valign-wrapper">
            <p class="title col m2 valign">Date</p>
            <input class="col m4 datepicker" type="date" ng-model="startDateFilter"/>
           <!--  <p class="title grey-text text-darken-2 col s6">End Date</p> -->
            <input class="col m4" type="date" ng-model="endDateFilter"/>
          </div>
          <!-- time filter -->
          <div class="col m6 valign-wrapper">
            <p class="title col m2 valign">Time</p>
            <input id='startTime'class="col m4 datepicker" min="0" max="24" type="range" ng-model="startTimeFilter"/>
            <span class="filteTime">{{startTimeFilter === 0 ? "12:00 AM" : (startTimeFilter == 24 ? "11:59 PM" : (startTimeFilter <= 12 ?  (startTimeFilter + ":00 AM") : ((startTimeFilter - 12) + ":00 PM") ) ) }}</span>
            <input id='endTime' class="col m4" type="range" min="{{startTimeFilter}}" max="24" ng-model="endTimeFilter"/>
            <span class="filteTime">{{endTimeFilter === 0 ? "12:00 AM" : (endTimeFilter === 24 ? "11:59 PM" : (endTimeFilter <= 12 ?  (endTimeFilter + ":00 AM") : ((endTimeFilter - 12) + ":00 PM") ) ) }}</span>
          </div>
        </div>
      </div>
      <!-- filter complete -->
    <div class="mapView col m5">
      <!-- map view -->
      <div google-maps  class="mapView col m12 s12">
        <div id="gmap"></div>
      </div>
    </div>

      
      <!-- search filter disabled
      <nav ng-hide="mapActivated">
        <div class="nav-wrapper transparent">
          <div class="input-field">
            <input id="search" type="search" ng-model="selectText" requigrey>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </div>
      </nav> -->

      <!-- display all the games -->
      <ul class="collection col m7" id="listView" watch>
        <!-- no game satisfy filter -->
        <div ng-if="newGames.length === 0" class="ng-include: 'app/templates/partials/browseGamesFallBackPartial.html'"></div>

        <li ng-repeat="game in newGames | orderBy:'game_datetime' | filter: searchText" class="collection-item " watch>
          <div class='row game_list valign-wrapper'>
            <div class="left col s3 valign" id="game_title" style="display:inline">{{game.game ? game.game : " "}}</div>
            <div class="col s7 valign"> <span ng-if="game.distance">{{+ game.distance + " mi | "}}</span> {{game.game_datetime | date:"EEE, MMM-d-y '@' h:mma"}}, Players: {{ game.accepted_players }}/{{game.player_count}}
            </div>
            <div class="right col s2 valign" ng-if="loggedIn" ng-click="openGame(game); getMyRequests()">
              <a class='btn light-blue lighten-5' ng-if="!requestSent(game.id)" href='#openRequest' modal>Join</a>
              <a class='btn light-blue lighten-5' ng-if="requestSent(game.id)" ng-click= "getRequestInfo(game.id)" href='#openRequest' modal>View</a>
            </div>
          </div>        
        </li>
      </ul>

<!--       <center>
        <pagination
          page="currentPage"
          page-size="pageSize"
          total= "newGames.length"
          show-prev-next="true"
          dots="...."
          hide-if-empty="false"
          adjacent="2"
          scroll-top="false"
          pagination-action="displayPage(page)" />
      </center> -->

    <div class="ng-include: 'app/templates/modals/requestJoinGameModal.html'">
    </div>
  </div>
</div><!-- .browse -->
