<div class="row createGame">
	<div class="half-div col s12">
		<h3>Host a Game</h3>
	</div>

	<!-- google map -->
 	<div id="map" class="col s6">
 	</div>
 	<!-- game input form -->
 	<div class="half-div col s6">
		<form novalidate class="create-form" name="createForm">
			<!-- location form -->
			<div class ="row">
			 	<div class= "input-field col s12">
					<input type="text" id="game-location" name="location" ng-model="game.location" placeholder="" required/>
					<label class="active" for="game-location">* Location</label>
					<p ng-show="createForm.location.$error.required && createForm.location.$dirty" class="help-block">Location is required.</p>
				</div>
			</div>
			<!-- game name and # of players form -->
			<div class = "row">
				<div class= "input-field col s7">
					<input name="name" type="text" id="game-name" ng-model="game.name" length="20" placeholder="" required/>
					<label class="active" for="game-name">* Game name</label>
					<p ng-show="createForm.name.$error.required && createForm.name.$dirty" class="help-block">Name is required.</p>
				</div>
				<!-- # of players form -->
				<div class="input-field col s5">
					<input name="playerNum" type="number" id="num-players" ng-model="game.numPlayers" class="validate" min="2" max="20" placeholder="" required/>
					<label class="active" for="num-players" data-error="2 - 20">* # of players</label>
					<p ng-show="createForm.playerNum.$error.required && createForm.playerNum.$dirty" class="help-block">This is required.</p>
				</div>
			</div>
			<!-- datetime form -->
			<div class="row">
				<div class="input-field col s12">
					<input name="datetime" type="datetime-local" id="game-datetime" ng-model="game.datetime" required/>
					<label class="active" for="game-datetime">* Time</label>
					<p ng-show="createForm.datetime.$error.required && createForm.datetime.$dirty" class="help-block">Datetime is required.</p>
				</div>
			</div>
			<!-- game description form -->
			<div class="row">
				<div class="input-field col s12">
					<textarea id="game-description" ng-model="game.description" class="materialize-textarea" length="120"></textarea>
					<label class="active" for="game-description">Description</label>
				</div>
			</div>
			<!-- create game button -->
			<div class="row">
				<div class="input-field col s12">
					<button type="submit" class="btn orange white-text waves-effect waves-light" ng-click="createGame(game)" ng-disabled="createForm.$invalid">Create Game</button>
				</div>
			</div>

		</form>
	</div>
</div>
