<div class="row createGame normal-view">

  <!-- game input form -->
  <div class="half-div col m6 s12">
    <form class="create-form" name="createForm">

      <!-- game name and # of players form -->
      <div class = "row">
        <div class= "input-field col m12">
          <autocomplete attr-input-id="game-name" attr-placeholder="" autocomplete-required click-activation="true" data="gamesArray" ng-model="game.name" autocomplete="off"></autocomplete>
          <label class="active" for="game-name">Game name</label>
          <p ng-show="createForm.name.$error.required && createForm.name.$dirty" class="help-block">Name is required.</p>
        </div>
      </div>

      <!-- datetime form -->
      <div class="row">
        <div class="input-field col m6">
          <input name="date" type="date" id="game-date" ng-model="game.date" required/>
          <label class="active" for="game-date">Date</label>
          <p ng-show="createForm.date.$error.required && createForm.date.$dirty" class="help-block">Date is required.</p>
        </div>
        <div class="input-field col m6 row valign-wrapper">
          <input name="time" type="range" id="game-time" class="col m8" ng-model="game.time" min="0" max="24" required/><span class="filteTime col m4 valign">{{game.time === 0 ? "12:00 AM" : (game.time == 24 ? "11:59 PM" : (game.time === 12 ? "12:00 PM" : (game.time < 12 ?  (game.time + ":00 AM") : ((game.time - 12) + ":00 PM") ) ) ) }}</span>
         <!--  <input name="time" type="time" id="game-time" ng-model="game.time1" required/> -->
          <label class="active" for="game-time">Time</label>
          <p ng-show="createForm.time.$error.required && createForm.time.$dirty" class="help-block">Time is required.</p>
        </div>
      </div>

      <!-- location form -->
      <div class ="row">
        <div class= "input-field col m9">
          <input type="text" id="game-location" name="location" ng-model="game.location" placeholder=""/>
          <label class="active" for="game-location">Location</label>
          <p ng-show="createForm.location.$error.required && createForm.location.$dirty" class="help-block">Location is required.</p>
        </div>
        <!-- # of players form -->
        <div class="input-field col m3">
          <input type="number" id="num-players" ng-model="game.numPlayers" class="validate" min="2" max="20" placeholder="" required/>
          <label class="active" for="num-players" data-error="2 - 20">Players</label>
          <p ng-show="createForm.location.$error.required && createForm.location.$dirty" class="help-block">This is required.</p>
        </div>
      </div>

      <!-- game description form -->
      <div class="row">
        <div class="input-field col m12">
          <textarea id="game-description" ng-model="game.description" class="materialize-textarea" length="120"></textarea>
          <label class="active" for="game-description">Description (Optional)</label>
        </div>
      </div>

      <!-- invite players -->
      <div class="row">
        <div class="input-field col m12">
          <!-- <div> -->
          <input id="search" type="search" ng-model="searchText" placeholder="Enter name to invite">
          <label class="active" for="search">Invite Guests (Optional)</label>
           <!--  <i class="material-icons" ng-click="clearInviteSearch()">close</i> -->
          <!-- </div> -->
          <div class="invitees col m6" ng-repeat="user in usersList" ng-if="searchText !== '' && ((user.username.toUpperCase()).indexOf(searchText.toUpperCase()) !== -1)">
            <input name="invitedPlayers[]" type="checkbox"  id="user-{{user.id}}" checklist-model="game.invitees" checklist-value="user.id" />
            <label class="invitee" for="user-{{user.id}}">
              <!-- <div class="invitee-picture"> -->
                <img class="circle responsive-img invitee-picture" ng-src="{{user.picture}}" ><span class="invitee-name">{{user.username}}</span>
              <!-- </div> -->
      <!--        <div class="invitee-name">
                {{user.username}}
              </div> -->
            </label>
          </div>
        </div>
      </div>

      <!-- create game button -->
      <div class="row">
        <div class="input-field col m12">
          <button type="submit" class="btn white-text waves-effect waves-light" ng-click="createGame(game)" ng-disabled="createForm.$invalid">Create Game</button>
        </div>
      </div>

    </form>
  </div>

   <!-- google map -->
  <div google-maps  class="map-view col m6 s12">
    <div class="map-directions">
       <em>Search locations or drop a pin where you would like to host your game.</em>
    </div>
    <input id="pac-input" class="controls ng-cloak" type="text" placeholder="Search" ng-cloak>
    <div id="gmap">
    </div>
  </div>

</div>
