<div class="faq container">
  <h5 class="question">Q: What is Gameboard?</h5>
  <p class="answer">A: Gameboard is an app for scheduling tabletop games of all kinds with people near you. Our search features allow you to find the right game at the right time and place for you, or host a game yourself for other people to join. Gameboard is a great way to meet new people to play your favorite games.</p>

  <h5 class="question">Q: How do I host a game?</h5>
  <p class="answer">A: Navigate to and fill out the "Host" form. You can choose any location you like, but we recommend chosing a public meeting place, like a local game store that has play space available. If you are hosting a board game, it is expected that the host will provide everything necessary to play. If you it's a roleplaying game, the host is expected to be (or bring along) the DM/GM. You should mention anything that you want other players to bring in the description field.</p>

  <h5 class="question">Q: Should I count myself when I enter the number of players into the host form? </h5>
  <p class="answer">A: Yep!</p>

  <h5 class="question">Q: What games are supported?</h5>
  <p class="answer">A: You can schedule whatever games you want to play with this service, but we provide autocomplete for some game names to help keep things consistent.</p>

  <h5 class="question">Q: What is the reliability and user rating that shows up on my profile?</h5>
  <p class="answer">A: Users can provide reviews of the people who they meet up with through this app. The reliability score is calculated based on how often you show up to play the games you sign up for. It's important that you cancel ahead of time if you can't make it to a game! Your user rating is a measure of your sportsmanship, as reported by other users. Be friendly and show up when you say you will, and people will be more likely to play games with you in the future!</p>

  <h5 class="question">Q: I got a notification to provide user reviews. What is that?</h5>
  <p class="answer">A: In order to promote good sportsmanship and reliability among our users, we allow users to provide reviews of each person they played a game with. You'll be asked whether or not they showed up, and if they did, you'll be asked to rate their sportsmanship from 1-5 stars. Think of this as a rating of how willing you would be to play with this person again, rather than their player skill.</p>

  <h5 class="question">Q: I found a bug! What's the deal?</h5>
  <p class="answer">A: Sorry for the inconvenience! Gameboard was developed as a student project over the course of 4 weeks, so some bugs are inevitable. Please send an email with a detailed description of the problem to <a href="mailto:finvr@gmail.com?Subject=Bug%20Report" class="email" target="_top">finvr@gmail.com</a>.</p>

  <h5 class="question">Q: I didn't find a bug, but I want to talk to the developers.</h5>
  <p class="answer">A: <a href="mailto:finvr@gmail.com" class="email" target="_top">finvr@gmail.com</a> works for that, too.</p>
</div>