<div class="home">
		<!-- 	<a class="btn-large white-text waves-effect waves-light" href="/auth/facebook">Login with Facebook</a>
			<a class="btn-large white-text waves-effect waves-light" href="/#/browse-games">Browse Games</a> -->
<!-- 	<div parallax id="block1">
		<img class = "responsive-img" src = "assets/pics/sl1.jpg">
	</div>
	<div>
		<img class = "responsive-img" src = "assets/pics/sl.jpg">
	</div> -->

 <div class= "parallax-container">
    <div class = "parallax"><img src="assets/pics/sl9.jpg">
    	<div class = "white-text"><h3 style= "position:relative; align:right"></h3></div>
    	<center class = "buttons">
	    	<a class="btn-large waves-effect waves-light" id="fb_button" href="/auth/facebook">Login with Facebook</a>
				<a class="btn-large waves-effect waves-light" id="browse_button" href="/#/browse-games">Browse Games</a>
			</center>
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Info</h2>
      <p class="grey-text text-darken-3 lighten-3">blah fjsadhaskdhaskjddksajdlskdjak sajdhasjkhd dsajdhaskj</p>
    </div>
  </div>
   <div class="section blue">
    <div class="row container">
      <h2 class="header">Info</h2>
      <p class="grey-text text-darken-3 lighten-3">blah fjsadhaskdhaskjddksajdlskdjak sajdhasjkhd dsajdhaskj</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="assets/pics/sl.jpg"></div>
  </div>
    <div class="section blue">
    <div class="row container float-right">
      <p class="white-text">Copyright © Finvr <br>All Rights Reserved</p>
      <a class="white-text">Contact Us</a>
    </div>
  </div>
</div>