<div class="home">
 <div class= "parallax-container">
    <div class = "parallax"><img src="assets/pics/sl11.jpg">
    <div id="title" class= "right-align"><b>game</b>board</h1></div>
     <div id="slogan" class="right-align"><p>an app for connecting gamers</p></div>
    	<div class = "buttons">
	    	<div class = "right-align"><a class="btn-large" id="fb_button" href="/auth/facebook">Login with Facebook</a></div>
				<div class = "right-align"><a class="btn-large" id="browse_button" href="/#/browse-games">Browse Games</a></div>
			</div>
    </div>
   </div>
  <div class="section red">
    <div class="row container">
      <div class= "col s6">
        <h2 class="header white-text">find games</h2>
        <p class="grey-text text-darken-3 lighten-3">search and join games being held in your area</p>
      </div>
      <div class= "col s6">
         <div class = "right-align"><i class="large material-icons icns">search</i></div>
      </div>
    </div>
  </div>
   <div class="section blue">
    <div class="row container">
      <div class= "col s4">
        <div><i class="large material-icons icns">supervisor_account</i></div>
      </div>
      <div class= "col s8">
        <h2 class="header white-text right-align">connect with gamers</h2>
        <p class="grey-text text-darken-3 lighten-3 right-align">make new friends while playing your favorite games</p>
      </div>
    </div>
  </div>
  <div class="section amber">
    <div class="row container">
      <div class= "col s6">
        <h2 class="header white-text">host a game</h2>
        <p class="grey-text text-darken-3 lighten-3">host a game event and invite others to join</p>
      </div>
      <div class= "col s6">
           <div class = "right-align"><i class="large material-icons icns">today</i></div>
      </div>
    </div>
  </div>
    <div id = "contact" class="footer">
    	<div class="row container right-align grey-text text-darken-3">
      <p>Copyright © Finvr <br>All Rights Reserved</p>
      <a>Contact Us</a>
    </div>
  </div>
</div>
