<div class="home">
		<!-- 	<a class="btn-large white-text waves-effect waves-light" href="/auth/facebook">Login with Facebook</a>
			<a class="btn-large white-text waves-effect waves-light" href="/#/browse-games">Browse Games</a> -->
<!-- 	<div parallax id="block1">
		<img class = "responsive-img" src = "assets/pics/sl1.jpg">
	</div>
	<div>
		<img class = "responsive-img" src = "assets/pics/sl.jpg">
	</div> -->

 <div class= "parallax-container">
    <div class = "parallax"><img src="assets/pics/sl11.jpg">
    	<center><div class = "blue-text"><b>game</b>board</h1></div></center>
    	<center class = "buttons">
	    	<a class="btn-large" id="fb_button" href="/auth/facebook">Login with Facebook</a>
				<a class="btn-large" id="browse_button" href="/#/browse-games" style="z-index:2">Browse Games</a>
			</center>
    </div>
   </div>
  <div class="section red">
    <div class="row container">
      <h2 class="header white-text">find games</h2>
      <p class="grey-text text-darken-3 lighten-3">search and join games being held in your area</p>
    </div>
  </div>
   <div class="section blue">
    <div class="row container">
      <h2 class="header white-text right-align">connect with gamers</h2>
      <p class="grey-text text-darken-3 lighten-3 right-align">make new friends while playing your favorite games</p>
    </div>
  </div>
  <div class="section amber">
    <div class="row container">
      <h2 class="header white-text">host a game</h2>
      <p class="grey-text text-darken-3 lighten-3">host a game event and invite others to join</p>
    </div>
  </div>
 <!--  <div class="parallax-container sm_parallax">
    <div class="parallax"><img src="assets/pics/sl.jpg"></div>
  </div> -->
    <div class="section footer">
    	<div class="row container right-align grey-text text-darken-3">
      <p>Copyright © Finvr <br>All Rights Reserved</p>
      <a>Contact Us</a>
    </div>
  </div>
</div>


<!--------------------------

<div class= "parallax-container">
    <div class = "parallax"><img src="assets/pics/sl9.jpg">
    	<div class = "white-text"><h3 style= "position:relative; align:right"></h3></div>
    	<center class = "buttons">
	    	<a class="btn-large waves-effect waves-light" id="fb_button" href="/auth/facebook">Login with Facebook</a>
				<a class="btn-large waves-effect waves-light" id="browse_button" href="/#/browse-games">Browse Games</a>
			</center>
    </div>
  </div>
  <div class="section1 white">
    <div class="row container">
      <h2 class="header">Info</h2>
      <p class="grey-text text-darken-3 lighten-3">blah fjsadhaskdhaskjddksajdlskdjak sajdhasjkhd dsajdhaskj</p>
    </div>
  </div>
   <div class="section2 blue">
    <div class="row container">
      <h2 class="header">Info</h2>
      <p class="grey-text text-darken-3 lighten-3">blah fjsadhaskdhaskjddksajdlskdjak sajdhasjkhd dsajdhaskj</p>
    </div>
  </div>
  <div class="section3 amber">
    <div class="row container">
      <h2 class="header">Info</h2>
      <p class="grey-text text-darken-3 lighten-3">blah fjsadhaskdhaskjddksajdlskdjak sajdhasjkhd dsajdhaskj</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="assets/pics/sl.jpg"></div>
  </div>
    <div class="section blue">
    <div class="row container float-right">
      <p class="white-text">Copyright © Finvr <br>All Rights Reserved</p>
      <a class="white-text">Contact Us</a>
    </div>
  </div>
</div>

-------------------->