<div class="myGames" ng-controller="MyGamesController">
  <div class="row">
    <div class="col m4">
      <section>
        <ul class="collapsible popout with-header" data-collapsible="accordion" watch>
          <li class="collection-header">
            <span class="pink-text text-darken-2"><h5>Game's I'm Hosting</h5></span>
          </li>
          <li ng-repeat="game in myGames" class="collection-item avatar">
            <div class="collapsible-header">
              <i class="material-icons md-light">info</i>
              <span class="title indigo-text text-darkern-2">
                {{ game.game}}
              </span>
              <a href="#!" class="secondary-content"><i class="material-icons">add_alert</i></a>
              <p>
                {{ game.game_datetime | date : "EEEE, MMMM d, y, h:mm a" }}<br>
                {{ game.game_location }}
              </p>
            </div>
            <div class="collapsible-body">
              <p>
                <span>Name:</span> {{game.game }}<br>
                <span>Description:</span> {{game.gamepost_description}}<br>
                <span>Players:</span> {{game.player_count}}<br>
                <span>Date and time:</span> {{ game.game_datetime | date : "EEEE, MMMM d, y, h:mm a" }}<br>
                <span>Location:</span> {{ game.game_location }}
              </p>
            </div>
          </li>
        </ul>
      </section>
    </div>
    <div class="col m4">
      <section class="joined">
        <ul class="collapsible popout with-header" data-collapsible="accordion" watch>
          <li class="collection-header"><span class="pink-text text-darken-2"><h5>Game's I'm Joining</h5></span></li>
          <li class="collection-item">
            <div class="collapsible-header">Alvin
              <a href="#!" class="secondary-content">
                <i class="material-icons">send</i>
              </a>
            </div>
            <div class="collapsible-body">
              Test
            </div>
          </li>
        </ul>
      </section>
    </div>
    <div class="col m4">
      <section class="joined">
        <ul class="collapsible popout with-header" data-collapsible="accordion" watch>
          <li class="collection-header"><span class="pink-text text-darken-2"><h5>My Pending Requests</h5></span></li>
          <li ng-repeat="request in myRequests" class="collection-item avatar">
            <div class="collapsible-header">
              <i class="material-icons md-light">info</i>
              <span class="title indigo-text text-darkern-2">
                {{ request.game}}
              </span>
              <p>
                {{ request.game_datetime | date : "EEEE, MMMM d, y, h:mm a" }}<br>
                {{ request.game_location }}
              </p>
            </div>
            <div class="collapsible-body">
              <p>
                <span class="pink-text text-darken-2">Comments: </span> {{ request.comments }}
              </p>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>