<div class="myGames">
  <div ng-show="myGames.length === 0 && myRequests.length === 0" class="fallback-view container ng-cloak" ng-cloak>
    <h2 class="grey-text center aligned">Welcome!</h2>
    <p>You currently haven't requested to join any game events or posted any new game events you want to host.</p>
    <p>  Go <a class="grey darken-3-text" href="/#/browse-games">browse</a> game events happening in your area  or <a class="grey darken-3-text" href="/#/create-game">post a new game event</a> you want to host.</p>
  </div>
  <div ng-show="myGames.length > 0 || (myRequests.length > 0 && myRequests[0] !== 'r')" class="row normal-view">
    <div class="col profile m4">
      <center class="profile-box">
        <div class="img-wrapper">
         <img  class="responsive-img" src="{{ myProfile.picture }}">
        </div>
        <div class="name">
          <p class="grey-text" watch>{{ myProfile.username }}</p>
        </div>
      </center>
      <section class="inbox">
        <ul class="collapsible popout with-header" data-collapsible="accordion" watch>
          <li class="collection-header"><span class="grey-text"><h5>Inbox</h5></span></li>
          <li ng-repeat="game in myGames" class="collection-item avatar" ng-if="game.pending_requests > 0">
            <div class="collapsible-header">
              <span class="title grey-text text-darkern-2">
                {{ game.game | limitTo: 10 }} ... 
              </span>
              <span>
                  {{ game.game_datetime | date : "M/d/yyyy @ h:mm a" }}
              </span>
              <a href="#cancel-modal" ng-click="setGameToCancel(game)" class="waves-effect waves-light secondary-content" modal><i class="material-icons">cancel</i></a>
              <a href="#approve-pending" ng-click="getGamepostRequest(game)" class="waves-effect waves-light secondary-content" modal><i class="material-icons">open_in_new</i></a>
            </div>
            <div class="collapsible-body">
              <p>
                <strong>Time:</strong> {{ game.game_datetime | date : "EEE, MMM d, y @ h:mm a" }}<br>
                <strong>Location:</strong> {{ game.game_location }}<br>
                <span>Players:</span> {{game.player_count}}
                <br>
                <span>Description:</span> {{game.gamepost_description}}<br>
              </p>
            </div>
        </ul>
      </section>
      <section class="outbox">
        <ul class="collapsible popout with-header" data-collapsible="accordion" watch>
          <li class="collection-header"><span class="grey-text"><h5>Outbox</h5></span></li>
          <li ng-repeat="request in myRequests track by $index | orderBy:'game_datetime'" class="collection-item avatar" ng-if="request.status==='pending' || request.status==='denied' "> 
            <div class="collapsible-header">
                <span class="title grey-text text-darkern-2">
                  {{ request.game | limitTo: 10 }} ... 
                </span>
                <span>
                    {{ request.game_datetime | date : "M/d/yyyy @ h:mm a" }}
                </span>
                <a href="#cancel-modal" ng-click="setRequestToCancel(request)" class="waves-effect waves-light secondary-content" modal><i class="material-icons">cancel</i></a>
              </div>
              <div class="collapsible-body">
                <p>
                  <strong>Time:</strong> {{ request.game_datetime | date : "EEE, MMM d, y @ h:mm a" }}<br>
                  <strong>Location:</strong> {{ game.game_location }}<br>
                  <span>Players:</span> {{request.player_count}}
                  <br>
                  <span>Description:</span> {{request.gamepost_description}}<br>
                </p>
              </div>
            </li>
        </ul>
      </section>
    </div>

    <!-- button for agenda view -->
    <button type="button" id="agenda" class="btn">Agenda View</button>

    <!-- calendar div -->
    <div ui-calendar="uiConfig.calendar" class="col m8" ng-model="eventSources" id="calendar" watch>    
    </div>

    <!-- game List -->
    <div id="agendaList" class="col m8">

      <div class="collection col m5 offset-m1" data-collapsible="accordion" watch>
        <div class="darkgray-text text-darken-2 collection-item"><h5>Games I'm Hosting</h5></div>
        <div ng-repeat="game in myGames | orderBy: 'game_datetime'" class="collection-item row">
            <p class="agendaListGameName col m8" ng-click="showHostedEventModal({data:game})">
              <span class="title indigo-text text-darkern-2">
                {{game.game}}
              </span> @ {{ game.game_datetime | date : "EEE, MMM d, y @ h:mm a" }}
            </p>
            <a href="#cancel-modal" ng-click="setGameToCancel(game)" class="waves-effect waves-light secondary-content right col m1.5" modal><i class="material-icons">cancel</i></a>
            <a href="#approve-pending" ng-click="getGamepostRequest(game)" class="waves-effect waves-light secondary-content right col m1.5" modal><i class="material-icons" ng-if="game.pending_requests > 0">add_alert</i></a>
        </div>
      </div>

      <div class="collection col m5 offset-m1" data-collapsible="accordion" watch>
        <div class="darkgray-text text-darken-2 collection-item"><h5>Games I'm Joining</h5></div>
        <div ng-repeat="request in myRequests | orderBy: 'game_datetime'" ng-if="request.status === 'accepted'" class="collection-item row">
          <p class="agendaListGameName col m8" ng-click="showHostedEventModal({data:request})">
            <span class="title indigo-text text-darkern-2">
              {{request.game}}
            </span> @ {{ request.game_datetime | date : "EEE, MMM d, y @ h:mm a" }}
          </p>
          <a href="#cancelRequestModal" ng-click="setRequestToCancel(request)" class="waves-effect waves-light secondary-content right col m1.5" modal><i class="material-icons">cancel</i></a>
        </div>
      </div>
      
    </div>
  </div>

<!-- Pop-up modal for requests of gameposts -->
  <div id="approve-pending" class="modal">
    <div class="modal-header grey">
      <div ng-click="close('#approve-pending')"><i class="material-icons right close">close</i></div>
      <span class="white-text"><h4>{{ gameToApprove.game }}</h4></span>
    </div>
    <div class="modal-content container"> 
      <ul class="collection">
        <li class="row content-header">
          <div class="title col s8 grey-text">Request</div>
          <div class="title col s2 grey-text center">Accept</div>
          <div class="title col s2 grey-text center">Decline</div>
        </li>
        <li ng-repeat="request in requests | orderBy:'game_datetime'" class="collection-item row" ng-if="request.status==='pending'">
          <div class="col s8">
            <div class="sub-list">
              <strong class="content-lead">From: </strong>
              <div>{{ request.username }}</div>
            </div>     
            <div class="sub-list">
              <strong class="content-lead">Message:</strong>
              <div> {{ request.comments }}</div>
            </div>
          </div>
          <button class="col s2 btn-flat btn-medium waves-effect waves-light grey darken-3 lighten-1 white-text" ng-click="requestConfirm('accepted', request)">
            <i class="material-icons">check</i>
          </button>
          <button class="col s2 btn-flat waves-effect waves-light grey white-text" ng-click="requestConfirm('declined', request)">
            <i class="material-icons">close</i>
          </button>
        </li> 
      </ul>
    </div>
  </div>
  <!-- Pop-up for game details -->
  <div id="game-details" class="modal">
    <div class="modal-header grey">
      <a ng-click="close('#game-details')"><i class="material-icons right white-text">close</i></a>
      <h4 class="white-text center">{{ gameToShowDetails.game }}</h4>
    </div>
    <div class="modal-content container">
      <p>
        <div><span>Time:</span> {{ gameToShowDetails.game_datetime | date : "EEE, MMM d, y @ h:mm a" }}</div>
        <div><span>Location:</span> {{ gameToShowDetails.game_location }}</div>
        <div><span>Players:</span> {{ gameToShowDetails.player_count}}</div>
        <div><span>Description:</span> {{ gameToShowDetails.gamepost_description}}</div>
        <div ng-if="gameToShowDetails.comments !== undefined"><span>Message sent:</span> {{ gameToShowDetails.comments}}</div>
      </p>
    </div>
    <div class="modal-footer">
      <a href="#cancel-modal" ng-if="gameToShowDetails.pending_requests" ng-click="setGameToCancel(gameToShowDetails)" class="btn btn-med waves-effect waves-light grey darken-3" modal>Cancel Game</i></a>
      <a href="#cancelRequestModal" ng-if="!gameToShowDetails.pending_requests" ng-click="setRequestToCancel(gameToShowDetails)" class="btn btn-med waves-effect waves-light grey darken-3" modal>Cancel Request</i></a>
    </div>
  </div>

  <!-- Pop-up modal for cancelling of gameposts -->
  <div id="cancel-modal" class="modal">
    <div class="modal-header grey">
      <div ng-click="close('#cancel-modal')"><i class="material-icons white-text right">close</i></div>
      <h4 class="white-text">Cancel Game</h4>
    </div>
    <div class="modal-content container"> 
        <p>Are you sure you want to cancel this game of {{gameToCancel.game}}?  The game will no longer show up in searches and those who have requested to join this game will be notified that it has been cancelled.</p>
    </div>
    <div class="modal-footer">
      <a ng-click="cancelGame()" class="btn btn-med waves-effect waves-light grey darken-3">Cancel Game</a>
    </div>
  </div>

  <!-- Pop-up modal for cancelling of requests -->
  <div id="cancelRequestModal" class="modal approve-pending">
    <div class="modal-header grey">
      <h4 class="darkgray-text">Cancel Request</h4>
      <!--<a href=""><i class="material-icons">close</i></a>-->
    </div>
    <div class="modal-content container"> 
        <p>Are you sure you want to cancel this request to play {{request.name}}?  The host will be notified and your spot will be freed up for others.</p>
    </div>
    <div class="modal-footer">
      <a ng-click="cancelRequest(requestToCancel)" class="btn btn-med waves-effect waves-light grey darken-3">Cancel Request</a>
    </div>
  </div>
</div>