<div class="profile">
  <div class="container">
    <div class="row">

      <!-- left side -->
      <div class="col m5">
        <center class="profile-box">
          <div class="img-wrapper">
            <img  class="responsive-img circle profilePic" src="{{ myProfile.picture }}">
          </div>
          <div class="staticProfile">Rating: {{ myProfile.reviews.rating ? myProfile.reviews.rating : "N/A"}}<span class="reviewCounts"> {{"(" + (myProfile.reviews.reviewcounts ? myProfile.reviews.reviewcounts : 0) + ")" }}</span></div>
          <div class="staticProfile">Reliability: {{ myProfile.reviews.reliability ? (myProfile.reviews.reliability * 100 + "%") : "N/A"}}</div>
        </center>
      </div>

      <!-- Right side -->
      <div class="col m6 offset-m1">
        <h4 class="collection-item avater profile-field username valign-wrapper">
          {{ myProfile.username }}
          <a class="fbIcon valign right" target="_blank" href="{{myProfile.link}}"><img src="assets/facebook.png"></a>  
        </h4>   
        <ul class="collection profile-field">
          <li class="profile-field location">
            <div ng-click="showInput('.location')"><span class="read">{{ myProfile.location ? myProfile.location : "Location not provided"}} <i class="material-icons edit tiny" ng-if="!myProfile.viewId"> mode_edit</i></span> 
              <span class="write"><input type="text" ng-model="myProfile.location"></span> 
            </div>
          </li>
          <li class="profile-field about-me">
            <span class="title"><strong>About Me:</strong> </span>
            <div ng-click="showInput('.about-me')"><span class="read">{{myProfile.about_me ? myProfile.about_me : "Not yet provided"}} <i class="material-icons edit tiny" ng-if="!myProfile.viewId"> mode_edit</i></span> 
              <span class="write"><input type="text" ng-model="myProfile.about_me" ng-model-options="{ updateOn: 'blur' }"></span> 
            </div>
          </li>
          <li class="profile-field games-i-like">
            <span class="title"><strong>Games I Like:</strong> </span>
            <div ng-click="showInput('.games-i-like')"><span class="read">{{myProfile.games_list ? myProfile.games_list : "Not yet provided"}} <i class="material-icons edit tiny" ng-if="!myProfile.viewId"> mode_edit</i></span> 
              <span class="write"><input type="text" ng-model="myProfile.games_list"></span> 
            </div>
          </li>
        </ul>
        <a ng-if="update" ng-click="updateProfile(myProfile)" class="center btn" ng-show="!myProfile.viewId">Save Changes</a>
      </div>
    </div>

    <!-- Recent Game List -->
    <div class="recent_game_list" ng-if="!myProfile.viewId">
       <ul class="collection" watch>
        <li class="collection-header collection-item"><h5>Recent Games</h5></li>
        <li class="collection collection-item red-text center" ng-if="recentGames.length === 0">You have played no games.</li>
        <li class="collection-item valign-wrapper row striped" ng-repeat="game in recentGames | orderBy: '-game_datetime'" watch>
          <!-- played game row -->
          <span class="valign col m10">Played <strong>{{game.game ? game.game : "No Name"}}</strong> with 
            <a href="#/profile/{{game.host_id}}" target="_blank">
              <!-- <img class="hostPic" ng-src="{{game.picture || game.host_pic}}"> -->
              {{game.host_name || game.username}}</a> (host)<a ng-repeat="player in game.playerPics" href="#/profile/{{player.user_id}}" target="_blank"><span class="beforePlayer">, </span>
              <!-- <img class="hostPic" ng-src="{{player.picture}}"> -->{{player.username}}</a>
            <br>
            <span class="gameTime">@ {{game.game_datetime | date:"MMM-d-y"}}</span>
          </span>

          <!-- view or rate button, not show on viwing other user's profile -->
          <div class="right col m2" ng-if="loggedIn && !game.reviewed && !myProfile.viewId" ng-click="openRateModal(game)">
            <a class='btn view waves-effect' href='#openRateModal' modal>Rate</a>
          </div>
          <div class="right col m2" ng-if="loggedIn && game.reviewed && !myProfile.viewId" ng-click="openRateModal(game)">
            <a class='btn rate waves-effect' href='#openRateModal' modal>View</a>
          </div>   
        </li>
      </ul> 
    </div>
  </div>

  <!-- Pop-up modal for view/rate played game -->
  <div class="ng-include: 'app/templates/modals/profileReviewGameModal.html'">
  </div>

</div>
