<div class="profile">
	<div class="row">
		<div class="col m4">
		   <center class="profile-box">
		    <div class="img-wrapper">
		     <img  class="responsive-img" src="{{ myProfile.picture }}">
		    </div>
		  </center>
	  	<table>
	    	<tbody>
	    		<tr class="profile-field username">
	    			<td>Name: </td>
	    			<td>{{ myProfile.username }}</td>
	    		</tr>
	    		<tr class="profile-field location">
	    			<td>Location: </td>
		      	<td class="read">{{ myProfile.location }}</td>
		      	<td class="write"><input type="text" ng-model="myProfile.location" />
		      	<td><a ng-click="showInput('.location')">Edit</a></td>
		      </tr>
	    		<tr class="profile-field about-me">
	    			<td>About Me: </td>
	    			<td class="read">{{ myProfile.about_me }}</td>
		      	<td class="write"><input type="text" ng-model="myProfile.about_me" ng-model-options="{ updateOn: 'blur' }"  /></td>
	    			<td><a ng-click="showInput('.about-me')">Edit</a>
	    		</tr>
	    		<tr class="profile-field games-i-like">
	    			<td>Games I Like: </td>
	    			<td class="read">{{ myProfile.games_list }}</td>
		      	<td class="write"><input type="text" ng-model="myProfile.games_list" />
	    			<td><a ng-click="showInput('.games-i-like')">Edit</a>
	    		</tr>
	    		<tr class="profile-field reliability">
	    			<td>Reliability: </td>
	    			<td> 33%</td>
	    		</tr>
	    		<tr class="profile-field rating">
	    			<td>Rating: </td>
	    			<td> *******</td>
	    		</tr>
	    	</tbody> <!-- add stars http://codepen.io/TepigMC/pen/FIdHb -->
	    </table>
	   	<a ng-click="updateProfile(myProfile)" class="right btn">Save Changes</a>
		</div>
		<div class="col m8">
				<ul>
					<li>Review # 1</li>
					<li>Review # 2</li>
					<li>Review # 3</li>
				</ul>
		</div>
	</div>
</div>