<div class="profile">
	<div class="row">
		<div class="col m4">
		   <center class="profile-box">
		    <div class="img-wrapper">
		     <img  class="responsive-img" src="{{ myProfile.picture }}">
		    </div>
		    <div class="name">
		      <p class="grey-text">
		      	{{ myProfile.username }}<br>
		      	{{ myProfile.location }}
		      </p>
		    </div>
		  </center>
	  	<div>
	    	<div><span>About Me: </span> {{ myProfile.about_me }}</div>
	    	<div><span>Games I Like: </span> {{ myProfile.games_list }}</div>
	    	<div><span>Reliability: </span> 33%</div>
	    	<div><span>Rating: </span></div> <!-- add stars http://codepen.io/TepigMC/pen/FIdHb -->
	    </div>
		</div>
		<div class="col m8">
				<ul>
					<li>Review # 1</li>
					<li>Review # 2</li>
					<li>Review # 3</li>
				</ul>
		</div>
	</div>
</div>