<div class="myGames" ng-controller="MyGamesController">
 	<h1 class="orange-text">Scheduled Games</h1>

  <section class="hosting">
  <!--
   	<div class="row">
   		<div ng-repeat="game in myGames"class="col s12 m6 card">
   			<div class="card-image">
   				<img src="http://i.imgur.com/R3vAV.jpg">
     		  <span class="card-title">{{game.game}}</span>
   		  </div>
   		  <div class="card-content">
   		  	  <p>{{game.gamepost_description}}</p>
            <p>Players: {{game.player_count}}</p>
   		  </div>
        <div class="card-action">
          <a href="#">{{ game.game_location }}</a>
        </div>
        <div class="card-action">
          <a href="#">{{ game.game_date }}</a>
        </div>
   		</div>
   	</div>-->
      <ul class="collection with-header">
        <li class="collection-header"><h4>Game's I'm Hosting</h4></li>
        <li ng-repeat="game in myGames" class="collection-item"><div>{{ game.game}} | {{ game.game_date | date : "EEEE, MMMM d, y, h:mm a" }}<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      </ul>
  </section>
  <section class="joined">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Joined Games</h4></li>
      <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    </ul>
  </section>
  <section class="pending">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Pending Games</h4></li>
      <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    </ul>
  </section>
</div>