<div id="openRateModal" class="modal">
  <div class="modal-header">
    <div ng-click="close('#openRateModal'); ">
      <i class="material-icons right close">close</i>
    </div>
    <h4 class="white-text">
      {{currentRateGame.game ? currentRateGame.game : "No Name"}}
    </h4>
  </div>
  <div class="modal-content">
    <table class="game-details table">
      <thead>
        <tr>
          <th>Host</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Player Count</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#/profile/{{currentRateGame.host_id}}" target="_blank">{{currentRateGame.host_name || currentRateGame.username}}</a></td>
          <td>{{ currentRateGame.game_datetime | date : "M/d/yyyy" }}</td>
          <td>{{ currentRateGame.game_datetime | date : "h:mm a" }}</td>
          <td>{{ currentRateGame.game_location }} </td>
          <td>{{ currentRateGame.accepted_players + "/" + currentRateGame.player_count }}</td>
          <td>{{ currentRateGame.gamepost_description ? currentRateGame.gamepost_description : "N/A" }}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <table ng-if="currentRateGame.playerPics.length > 0">
        <thead>
          <tr>
            <th class="players">Player</th>
            <th>Skip</th>
            <th>Showed up</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in currentRateGame.playerPics">
            <td class="players">
              <div class="img-wrapper">
                <img class="responsive-img" ng-src="{{player.picture}}">
              </div>
                <a href="#/profile/{{player.user_id}}" target="_blank" >
                  {{player.username}}
                </a>
            </td>
            <td ng-if="!currentRateGame.reviewed">
              <div class="switch" >
                <label>
                  <input type="checkbox" ng-model="player.skip" value="false">
                  <span class="lever"></span>
                </label>
              </div>
              <span class="reviewResults" watch>{{player.skip ? "Skip Review" : "Review"}}</span>
            </td>
            <td ng-if="!player.skip">               
              <div class="switch" ng-if="!player.skip">
                <label>
                  <input type="checkbox" ng-model="player.showed_up">
                  <span class="lever"></span>
                </label>
              </div>
              <span class="reviewResults"  watch>{{player.showed_up ? "Yes" : "No"}}</span>
            </td>
            <td ng-if="!player.skip && player.showed_up">
              <input type="range" ng-model="player.rating" min="0" max="5" />
              <span class="reviewResults"  watch>{{player.rating}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer" ng-if="!currentRateGame.reviewed">
      <div class = "col s4 right" ng-click="sendReviews(currentRateGame.playerPics)">
        <a class = "btn-flat btn-med waves-effect center waves-light accept darken-3" ng-click="close('#openRateModal')">
          Submit Reviews
        </a>
      </div>
    </div>
  </div>
</div>

  