<div id="approve-invitation" class="modal">
  <div class="modal-header grey">
    <div ng-click="close('#approve-invitation')"><i class="material-icons right close">close</i></div>
    <span class="white-text"><h4>{{ invitationToReview.game }}</h4></span>
  </div>
  <div class="modal-content container">

  <div>
    <p>
      <strong>Time:</strong> {{ invitation.game_datetime | date : "EEE, MMM d, y @ h:mm a" }}<br>
      <strong>Location:</strong> {{ invitation.game_location }}<br>
      <strong>Players:</strong> {{invitation.player_count}}
      <br>
      <strong>Description:</strong> {{invitation.gamepost_description ? invitation.gamepost_description : "N/A"}}<br>
    </p>
  </div>

    <ul class="collection">
      <li class="row content-header">
        <div class="title col s8 grey-text">Invitation</div>
        <div class="title col s2 grey-text center">Accept</div>
        <div class="title col s2 grey-text center">Decline</div>
      </li>
      <li class="collection-item row">
        <div class="col s8">
          <div class="sub-list">
            <strong class="content-lead">From: </strong>
              <a href="#/profile/{{invitationToReview.host_id}}" target="_blank"><img class="hostPic" ng-src="{{invitationToReview.host_pic}}">{{ invitationToReview.host_name }}</a>
          </div>     
          <div class="sub-list">
            <strong class="content-lead">Details:</strong>
            <div> {{ invitationToReview.game }}</div>
            <div> {{ invitationToReview.game_datetime }}</div>
            <div> {{ invitationToReview.game_location }} </div>
            <div> {{ invitationToReview.game_description}}</div>
          </div>
        </div>
        <button class="col s2 btn-flat btn-medium waves-effect waves-light grey darken-3 lighten-1 white-text" ng-click="requestConfirm('accepted', invitationToReview)">
          <i class="material-icons">check</i>
        </button>
        <button class="col s2 btn-flat waves-effect waves-light grey white-text" ng-click="requestConfirm('declined', invitationToReview)">
          <i class="material-icons">close</i>
        </button>
      </li>
    </ul>
  </div>
</div>