<div id="game-details" class="modal">
  <div class="modal-header">
    <a ng-click="close('#game-details')"><i class="material-icons right white-text">close</i></a>
    <h4 class="white-text center">{{ gameToShowDetails.game ? gameToShowDetails.game : "No Name" }}</h4>
  </div>
  <div class="modal-content row">
    <table class="game-details table">
      <thead>
        <tr>
          <th>Host</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Player Count</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
         <td>
            <a href="#/profile/{{game.host_id}}" target="_blank">
              {{gameToShowDetails.username}}
            </a>
          </td>
          <td>{{ gameToShowDetails.game_datetime | date : "M/d/yyyy" }}</td>
          <td>{{ gameToShowDetails.game_datetime | date : "h:mm a" }}</td>
          <td>{{ gameToShowDetails.game_location }} </td>
          <td>{{ gameToShowDetails.accepted_players + "/" + gameToShowDetails.player_count }}</td>
          <td>{{ gameToShowDetails.gamepost_description ? gameToShowDetails.gamepost_description : "N/A" }}</td>
        </tr>
      </tbody>
    </table>
    <ul>
      <li class="player-item center">
        <div class="img-wrapper">
          <img class="responsive-img" ng-src="{{gameToShowDetails.picture}}">
        </div>
        <a href="#/profile/{{gameToShowDetails.host_id}}" target="_blank" >
            {{gameToShowDetails.username}}
        </a>
      </li>
      <li ng-if="gameToShowDetails.host_id !== requester.user_id" class="player-item center" ng-repeat="requester in gameToShowDetails.playersPictures">
          <div class="img-wrapper">
            <img class="responsive-img" ng-src="{{requester.picture}}">
          </div>
          <a href="#/profile/{{requester.user_id}}" target="_blank" >
            {{requester.username}}
          </a>
        </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#cancel-modal" ng-if="gameToShowDetails.pending_requests" ng-click="setGameToCancel(gameToShowDetails)" class="btn-flat btn-med waves-effect waves-light decline" modal>Cancel Game</i></a>
    <a href="#cancelRequestModal" ng-if="!gameToShowDetails.pending_requests" ng-click="setRequestToCancel(gameToShowDetails)" class="btn-flat btn-med waves-effect waves-light decline" modal>Cancel Request</i></a>
  </div>
</div>