<div id="approve-pending" class="modal">
  <div class="modal-header">
    <div ng-click="close('#approve-pending')"><i class="material-icons right close">cancel</i></div>
    <h4 class="white-text">{{ gameToApprove.game }}</h4>
  </div>
  <div class="modal-content row">
    <table class="game-details table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Player Count</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ gameToApprove.game_datetime | date : "M/d/yyyy" }}</td>
          <td>{{ gameToApprove.game_datetime | date : "h:mm a" }}</td>
          <td>{{ gameToApprove.game_location }} </td>
          <td>{{ gameToApprove.accepted_players + "/" + gameToApprove.player_count }}</td>
          <td>{{ gameToApprove.gamepost_description ? gameToApprove.gamepost_description : "N/A" }}</td>
        </tr>
      </tbody>
    </table>
    <ul class="collection">
      <li class="row content-header">
        <div class="title col s8 ">Request</div>
        <div class="title col s2 center">Accept</div>
        <div class="title col s2 center">Decline</div>
      </li>
      <li ng-repeat="request in requests | orderBy:'game_datetime'" class="collection-item avatar row" ng-if="request.status==='pending'">
        <div class="col s4">
          <img class="circle" ng-src="{{request.requester_pic}}">
          <a href="#/profile/{{request.user_id}}" target="_blank">
            {{ request.username }}
          </a>
        </div>
        <div class="col s4">
          <div><strong>Message:</strong></div>
          <div> {{ request.comments }}</div>
        </div>
        <div class="col s2">
          <button class="btn-flat btn-medium waves-effect waves-light lighten-1 accept" ng-click="requestConfirm('accepted', request, '#approve-pending')">
            <i class="material-icons">check</i>
          </button>
        </div>
        <div class="col s2">
          <button class="btn-flat waves-effect waves-light decline" ng-click="requestConfirm('declined', request, '#approve-pending')">
            <i class="material-icons">close</i>
          </button>
        </div>
      </li> 
    </ul>
  </div>
</div>