<div id="approve-invitation" class="modal">
  <div class="modal-header grey">
    <div ng-click="close('#approve-invitation')"><i class="material-icons right close">close</i></div>
    <span class="white-text"><h4>{{ invitationToReview.game }}</h4></span>
  </div>
  <div class="modal-content">
    <table class="game-details table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Player Count</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ invitationToReview.game_datetime | date : "M/d/yyyy" }}</td>
          <td>{{ invitationToReview.game_datetime | date : "h:mm a" }}</td>
          <td>{{ invitationToReview.game_location }} </td>
          <td>{{ invitationToReview.accepted_players + "/" + invitationToReview.player_count }}</td>
          <td>{{ invitationToReview.gamepost_description ? invitationToReview.gamepost_description : "N/A" }}</td>
        </tr>
      </tbody>
    </table>
    <ul class="collection">
      <li class="row content-header">
        <div class="title col s8 ">Invitation From</div>
        <div class="title col s2 center">Accept</div>
        <div class="title col s2 center">Decline</div>
      </li>
      <li class="collection-item avatar row">
        <div class="col s4">
          <img class="circle" ng-src="{{invitationToReview.host_pic}}">
          <a href="#/profile/{{invitationToReview.host_id}}" target="_blank">
            {{ invitationToReview.host_name }}
          </a>
        </div>
        <div class="col s2 offset-s4">
          <button class="btn-flat btn-medium waves-effect waves-light lighten-1 accept" ng-click="requestConfirm('accepted', invitationToReview)">
            <i class="material-icons">check</i>
          </button>
        </div>
        <div class="col s2">
          <button class="btn-flat waves-effect waves-light decline" ng-click="requestConfirm('declined', invitationToReview)">
            <i class="material-icons">close</i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>