<div id="openRequest" class="modal">
  <div class="modal-header">
    <div ng-click="close()"><i class="material-icons right close">cancel</i></div>
    <h4 class="white-text">{{game.game}}</h4>
  </div>
  <div class="modal-content row">
    <table class="game-details table">
      <thead>
        <tr>
          <th>Host</th><th>Date</th><th>Time</th>
          <th>Location</th><th>Player Count</th><th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="#/profile/{{game.host_id}}" target="_blank">
              {{loggedIn ? game.username : "Login to see more!"}}
            </a>
          </td>
          <td>{{ game.game_datetime | date : "M/d/yyyy" }}</td>
          <td>{{ game.game_datetime | date : "h:mm a" }}</td>
          <td>{{ game.game_location }} </td>
          <td>{{ game.accepted_players + "/" + game.player_count }}</td>
          <td>{{ game.gamepost_description ? game.gamepost_description : "N/A" }}</td>
        </tr>
      </tbody>
    </table>
    <div ng-if="loggedIn" class="player-list">
      <p class="players"><strong>Players</strong></p>
      <ul>
        <li class="player-item center">
          <div class="img-wrapper">
            <img class="responsive-img" ng-src="{{game.picture}}">
          </div>
          <a href="#/profile/{{game.host_id}}" target="_blank" >
            {{game.username}}
          </a>
        </li>
        <li ng-if="game.host_id !== requester.user_id" class="player-item center" ng-repeat="requester in game.playersPictures">
          <div class="img-wrapper">
            <img class="responsive-img" ng-src="{{requester.picture}}">
          </div>
          <a href="#/profile/{{requester.user_id}}" target="_blank" >
            {{requester.username}}
          </a>
        </li>
      </ul>
    </div>
    <div class="modal-footer" ng-if="requestSent(game.id)">
      <div ng-if="reqStatus === 'pending' || reqStatus === 'declined'">
        Your request is being reviewed by the host.
      </div>
      <div ng-if="reqStatus === 'invite' || reqStatus === 'declined'">
        The host has invited you to join this game.  Review the invitation in your <a href="my-games">inbox</a>.
      </div>
    </div>
    <div class="modal-footer" ng-if="!requestSent(game.id) && loggedIn">
      <div class="input-field message">
        <textarea ng-model="requestMessage.comments" placeholder="Enter optional message for host">
        </textarea>
      </div>
      <div ng-click="sendRequest(game)" class="join-button">
        <a class="btn-flat btn-med waves-effect waves-light accept">
          <i class="material-icons">send</i>
        </a>
      </div>
    </div>
  </div>
</div>

