<!-- detail Modal for each game -->
<div id="openRequest" class="modal">
  <div class="modal-header">
    <div ng-click="close()"><i class="material-icons right close">cancel</i></div>
    <span class="white-text"><h4>{{game.game}}</h4></span>
  </div>
  <div class="modal-content row">
    <div class="col m8">
    <div>
      <span class="darkgrey-text">Host:</span> 
      <a href="#/profile/{{game.host_id}}" target="_blank">{{loggedIn ? game.username : "Login to see more!"}}</a>
    </div>
    <div>
      <span class="darkgrey-text">Time:</span> {{game.game_datetime | date:"EEE, MMM-d-y '@' h:mma"}}
    </div>
    <div>
      <span class="darkgrey-text">Location:</span> {{loggedIn ? game.game_location : "Login to see more!"}}
    </div>
    <div>
      <span class="darkgrey-text">Distance to current location:</span> {{game.distance + " m"}}
    </div>
    <div>
      <span class="darkgrey-text">Details:  </span>{{game.gamepost_description ? game.gamepost_description : "N/A"}}
    </div>
  </div>
  <div class="col m4">
    <div >
      <span class="darkgrey-text">Players:</span> {{game.accepted_players}}/{{game.player_count}}
    </div>
    <div ng-if="loggedIn">
      <a href="#/profile/{{game.host_id}}" target="_blank"><img class="hostPic" ng-src="{{game.picture || game.host_pic}}">{{game.username}}</a> <br>
      <a ng-repeat="requester in game.playersPictures" href="#/profile/{{requester.user_id}}" target="_blank" ><img class="hostPic" ng-src="{{requester.picture}}">{{requester.username}}<br></a>
    </div>
  </div>

    <div ng-if="loggedIn" class="col m12">
      <div class="input-field row">
        <textarea ng-if="!requestSent(game.id)" class ="col s12" ng-model="requestMessage.comments" placeholder="Enter optional message for host"></textarea>
        <div ng-if="requestSent(game.id)">
          <div> Your request is: {{reqStatus}} </div>
          <div ng-if= 'reqComments != ""'>Sent message to host: {{reqComments}} </div>
        </div>
        <br>
        <div ng-if="submitError" class="error col s12 darkgrey-text">{{submitError}}</div>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-if="!requestSent(game.id) && loggedIn">
    <div class = "col s4 right" ng-click="sendRequest(game)">
            <a class = "btn btn-med waves-effect waves-light darkgrey darken-3">
              <i class="material-icons">send</i>
            </a>
    </div>
  </div>
</div>
<!-- modal complete -->
